ion-grid {
  --ion-grid-width: 350px;
  --ion-grid-padding: 0px;
  background-color: #69bb7b;
}
ion-row {
  height: 80px;
  text-align: center;
  vertical-align: middle;
}
ion-cell {
  vertical-align: middle;
}

