<table>
    <tr id="headRow01">
      @for(count of xAxisCounts; track $index){
      <th>{{ count }}</th>
      }
    </tr>
    @for (row of board.rows; track row.index){
    <tr>
      @for (cell of row.cells; track cell.column){
      <td id="{{ cell.column }}{{ cell.row }}"></td>
      }
      <td class="noborder">{{ yAxisCounts[row.index] }}</td>
    </tr>
    }
</table>

<div class="game-board">
  @for(row of board.rows; track row.index){
    <div class="board-row">
      @for(cell of row.cells; track cell.column){
        <div class="board-cell">
        @if(cell.icon){
          <ng-container>
            <img [src]="cell.icon" />
          </ng-container>
        }
        </div>
      }
    </div>
  }
</div>


<!-- <div class="board-cell"
[cdkDropList]="[]"
(cdkDropListDropped)="onDrop($event, cell.column, row.index)"
> -->
