/* You can add global styles to this file, and also import other style files */
// @import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/themes/viva-light/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

body {
  font-family: var(--font-family);
}

.fadeout {
	margin: 0 auto;
	text-align: center;
	opacity: 0;
	transition: 1s ease-in-out all;
}

.fadein {
	opacity: 1;
	transition: 2s ease-in-out all;
	transition-delay: 1s;
}
