<p>train-tracks works!</p>

<!-- <p-button label="do really amazing stuff"></p-button> -->

<button pButton type="button" class="p-button-raised p-button-rounded" label="do stuff"></button>

<div></div>



<!-- Display one row of the table. A row consists of a list of cells. Cells can contain graphics indicating one of the following
items:
  empty,
  scored out (the cell cannot logically contain a piece of track),
  possible marker (the cell might contain a piece of track),
  definate marker (the cell must logically contain a piece of track),
  straight track (horizontal or vertical),
  curved track (always 90 degrees, four orientations).

  Logical design
  Cell - cell class that can later contain a graphic item.
  Row - row class that contains a list of cells. Each cell is in a column.
  Table - a list of rows. -->




hiya

<!-- <h3>puzzle {{puzzleDefinition.problemNumber}} definition</h3> -->
<app-board></app-board>
